@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.videos-list {
    @include flexbox (column, 1rem);
    // @include padding-mobile (1rem);
    background-color: $color-white;
    width: 100%;

        // Start of Responsiveness
        @include tablet {
            @include flexbox;
            @include padding-tablet (1.5rem);
            justify-content: space-between;
            max-width: 30rem;
            margin: 0 auto;
            height: 5.6rem;            
        }

        @include desktop {
            width: 70rem;
        }

    &__alignment {
        @include flexbox (row, 1rem);
    }

    &__image {
        @include flexbox;
        height: 3.5rem;
        width: 5.5rem;
        object-fit: cover;
        @include images;
        align-items: center;
    }

    &__container {
        width: fit-content;
    }

    &__subcontainer {
        @include flexbox (column);
        justify-content: space-between;

        @include tablet {
            @include flexbox (column);
        }
    }

    &__title {
        margin: 0;
        @include h4-mobile;
        font-size: 0.8rem;
        font-weight: $demi;
        line-height: 0.9rem;

        @include tablet {
            @include h4-tablet;
            font-weight: $demi;
        }
    }

    &__author {
        margin: 0;
        @include h4-mobile;
        font-size: 0.8rem;
        font-weight: $regular;

        @include tablet {
            @include h4-tablet;
            font-weight: $regular;
        }
    }
}