@use './variables' as *;

@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"),
      url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
      url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"),
      url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
      font-weight: $regular;
  }

  @font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"),
      url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"),
      url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"),
      url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
      font-weight: $demi;
  }

  @font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"),
      url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
      url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"),
      url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
      font-weight: $bold;
  }