// Font Variables
$font-family: Avenir, sans-serif;
$regular: 400; // Regular
$demi: 600; // Demi
$bold: 700; // Bold

// Primary Color Variables
$color-black: #323232;
$color-blue: #0095FF;
$color-silver: #AFAFAF;
$color-white: #FFFFFF;

// Secondary Color Variables
$color-darkBlack: #000000;
$color-darkBlue: #0065AD;
$color-mercury: #E1E1E1;
$color-alabaster: #FAFAFA;

// Error State Color Variables
$color-red: #D22D2D;