// Font Variables
$font-family: Avenir, sans-serif;
$regular: 400; // Regular
$demi: 600; // Demi
$bold: 700; // Bold

// Primary Color Variables
$color-black: #323232;
$color-blue: #0095ff;
$color-silver: #afafaf;
$color-white: #ffffff;

// Secondary Color Variables
$color-darkBlack: #000000;
$color-darkBlue: #0065ad;
$color-mercury: #e1e1e1;
$color-alabaster: #fafafa;

// Error State Color Variables
$color-red: #d22d2d;
