@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.hero {
  @include flexbox(column, 1rem);
  background-color: $color-darkBlack;
  padding-top: 56.25%;
  position: relative;

  // Start of Responsiveness
  @include tablet {
    margin: 0 auto;
  }

  @include desktop {
    width: 70rem;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
