@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.videos {
  @include flexbox(column, 1rem);
  @include padding-mobile(0);
  background-color: $color-white;

  // Start of Responsiveness
  @include tablet {
    @include padding-tablet(0);
    max-width: 67rem;
    margin: 0 auto;
  }

  @include desktop {
    padding-top: 2.25rem;
    padding-left: 1.5rem;
    border-left: 0.0625rem solid $color-mercury;
    margin: 0;
    width: 20.9375rem;
  }

  &__title {
    @include h2-mobile;
    color: $color-silver;
    font-weight: $demi;
    margin: 0;

    @include tablet {
      @include h2-tablet;
      font-weight: $demi;
    }
  }
}
