@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.videos {
    @include flexbox (column, 1rem);
    @include padding-mobile (0);
    background-color: $color-white;

        // Start of Responsiveness
        @include tablet {
            @include flexbox;
            @include padding-tablet (0);
            justify-content: space-between;
            max-width: 70rem;
            margin: 0 auto;
            height: 5.6rem;            

        }

        @include desktop {
            width: 70rem;
        }

    &__title {
        @include h2-mobile;
        color: $color-silver;
        font-weight: $demi;
        margin: 0;

        @include tablet {
            @include h2-tablet;
            font-weight: $demi;
        }
    }
}