@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


.comments {
   @include flexbox (column);
   @include padding-mobile;
   background-color: $color-white;

       // Start of Responsiveness
       @include tablet {
           @include flexbox (column);
           @include padding-tablet;
           justify-content: space-between;
           max-width: 70rem;
           margin: 0 auto;        
       }

       @include desktop {
           width: 70rem;
       }

    &__title {
        @include h3-mobile;

        @include tablet {
            @include h3-tablet;
        }
    }

    &__container {
        @include flexbox (row, 1rem);
        border-bottom: 1px solid $color-mercury;
        padding-bottom: 1rem;

        @include tablet {
            gap: 1.25rem
        }

        @include desktop {
            gap: 2rem;
        }
    }

    &__profile {
        @include profile;
        margin-top: 1.625rem;
    }

    &__form {
        @include flexbox (column, 1rem);
        width: 100%;
    }

    &__input {
        @include flexbox (column, 0.5rem);
        @include h3-mobile;
        color: $color-silver;
        font-weight: $demi;

        @include tablet {
            @include h3-tablet;
        }
    }

    &__text-area {
        border: 1px solid $color-mercury;
        width: 100%;
        border-radius: .25rem;
        padding: .625rem;
        background-color: $color-alabaster;
        font-family: $font-family;

        &:focus {
            outline: 1px solid $color-blue;
        }

        &::placeholder { // Styles for the placeholder text
            @include h4-mobile;
            font-weight: $regular;
            color: $color-darkBlack;
            font-family: $font-family;
          }
    }

    &__button {
        width: 100%;
        background: url("../../assets/images/Icons/add_comment.svg") no-repeat .75rem center;
        @include button-default;

            // Start of Responsiveness
            @include tablet {
                width: 10rem;
            }

        &:hover {
            @include button-hover;
        }
    }
}